#header{
	width:100%;
	height:892px;
	background:url("../img/header/banner.jpg") no-repeat center top;
}
#header #h-main{
	overflow:hidden;
	position:relative;
	width:1200px;
	height:867px;
	margin:0 auto;
}
#header #h-main #h-header{
	width:100%;
	height:39px;
	padding-top:25px;
}
#header #h-main #h-header .logo{
	float:left;
	width:212px;
	height:39px;
	background:url("../img/logo.png") no-repeat;
}
#header #h-main #h-header .logo a{
	display:block;
	width:212px;
	height:39px;
}
#header #h-main #h-header .h-show{
	float:right;
	width:758px;
	height:39px;
}
#header #h-main #h-header .h-show ul li{
	float:left;
	width:81px;
	height:100%;
	margin-left:22px;
	line-height:36px;
	font-size:16px;
}
#header #h-main #h-header .h-show ul li:hover a{
	color:#09cbd7;
}
#header #h-main #h-header .h-show ul li a{
	color:#fff;
}
#header #h-main #h-header .h-show ul li a.text{
	color:#09cbd7;
}
#header #h-main #h-content{
	width:699px;
	height:79px;
	margin-top:226px; 
	background: url("../img/header/WEB.png") no-repeat;
}
#header #h-main #h-content1{
	width:385px;
	height:44px;
	margin-top:61px;
	background:url("../img/header/HTML5.png") no-repeat;
}
#header #h-main #h-content2{
	width:224px;
	height:64px;
	margin-top:63px;
	border-radius:4px;
	background:#09cbd7 url("../img/header/MORE.png")no-repeat 76px 23px;
}
#header #h-main #h-content2 a{
	display:block;
	width:224px;
	height:64px;
}
#header #h-main #h-content3{
	position:absolute;
	bottom:49px;
	left:50%;
	width:46px;
	height:4px;
	margin-left:-23px;
}
#header #h-main #h-content3 ul li.left{
	float:left;
	width:18px;
	height:4px;
	background-color:#fff;
	border-radius:4px;
}
#header #h-main #h-content3 ul li.right{
	float:right;
	width:18px;
	height:4px;
	margin-left:10px;
	background-color:#06c9d5;
	border-radius:4px;
}
#service{
	width:100%;
	height:689px;
	background-color:#fff;
}
#service #s-header{
	width:151px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#service #s-header p.s-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
}
#service #s-header p.s-pic{
	display:block;
	height:12px;
	margin:20px -5px;
	background:url("../img/service/txt.png") no-repeat;
}
#service #s-lecture{
	overflow:hidden;
	width:1200px;
	height:268px;
	margin:100px auto;
}
#service #s-lecture ul{
	width:1000%;
	height:268px;
}
#service #s-lecture ul li{
	float:left;
	width:204px;
	height:100%;
}
#service #s-lecture ul li + li{
	margin-left:128px;
}
#service #s-lecture ul li .circle{
	position:relative;
	width:204px;
	height:204px;
	background-color:#f3f9fe;
	border-radius:50%;
}
#service #s-lecture ul li .circle .list1{
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
#service #s-lecture ul li .circle .list{
	width:110px;
	height:95px;
}
#service #s-lecture ul li .circle .list2{
	width:65px;
	height:110px;
}
#service #s-lecture ul li .circle .list3{
	width:122px;
	height:86px;
}
#service #s-lecture ul li .circle .list4{
	width:109px;
	height:95px;
}
#service #s-lecture  .circle .list1 .img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:200%;
	transition:.3s;
}
#service #s-lecture  .circle .list1 .img img{
	display:block;
}
#service #s-lecture  .circle:hover .img{
	top:-100%;
}
#service #s-lecture p{
	margin-top:35px;
	font-size:24px;
	line-height:24px;
	text-align:center;
}
#video{
	width:100%;
	height:911px;
	background-color:#f5f6f7;
}
#video #v-header{
	width:151px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#video #v-header p.v-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
}
#video #v-header p.v-pic{
	display:block;
	height:12px;
	margin:20px 6px;
	background:url("../img/video/video.png") no-repeat;
}
#video #v-box{
	overflow:hidden;
	position:relative;
	width:1200px;
	height:570px;
	margin:79px auto;
}
#video #v-box .v-content1,div.top,div.bottom{
	position:relative;
}
#video #v-box .v-content1{
	float:left;
	width:497px;
	height:426px;
	margin-right:30px;
	cursor:pointer;
}
#video #v-box .v-content2{
	float:left;
	width:321px;
	height:426px;
	margin-bottom:10px;
}
#video #v-box  div.top,div.bottom{
	width:100%;
	height:198px;
	cursor:pointer;
}
#video #v-box  div.top{
	margin-bottom:30px;
}
#video #v-box .v-content3{
	float:right;
	width:321px;
	height:426px;
}
#video #v-box div.text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:42px;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
}
#video #v-box div.text p{
	background:url("../img/video/btn.png") no-repeat;
	margin:10px 10px;
	text-indent:39px;
	line-height:26px;
	color:#fff;
}
#video #v-more{
	position:absolute;
	bottom:0;
	left:50%;
	width:136px;
	height:44px;
	margin-left:-68px;
	border:1px solid #ccc;
	border-radius:4px;
}
#video #v-more a{
	display:block;
	width:136px;
	height:44px;
	font-family:"Arial";
	text-align:center;
	line-height:47px;
}
#speakers{
	overflow:hidden;
	width:100%;
	height:889px;
	background-image:url("../img/speaker/back.jpg");
}
#speakers #s-header{
	width:151px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#speakers #s-header p.s-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
	color:#fff;
}
#speakers #s-header p.s-pic{
	display:block;
	height:12px;
	margin:20px 6px;
	background:url("../img/speaker/speakers.png") no-repeat;
}
#speakers #s-box{
	position:relative;
	width:1200px;
	height:510px;
	margin:80px auto;
}
#speakers #s-box ul.s-content{
	overflow:hidden;
	width:120%;
}
#speakers #s-box ul.s-content li{
	position:relative;
	float:left;
	width:270px;
	height:383px;
	margin-right:40px;
}
#speakers #s-box ul.s-content li .s-position{
	position:absolute;
	top:312px;
	left:0;
	width:100%;
	height:73px;
	transform:translate(0,0);
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
	transition:.5s;
}
#speakers #s-box ul.s-content li:hover .s-position{
	height:auto;
	top:384px;
	transform:translate(0,-100%);
	height:auto\0;
	top:auto\0;
	bottom:auto\0;
	
}
#speakers #s-box ul.s-content li .s-position h3{
	margin-top:11px;
	font-size:22px;
	text-indent:20px;
	color:#fff;
}
#speakers #s-box ul.s-content li .s-position p.s-p-txt1{
	margin-top:2px;
	text-indent:20px;
	font-size:16px;
	color:#fff;
}
#speakers #s-box ul.s-content li .s-position p.s-p-txt{
	padding:16px 16px;
	font-size:14px;
	color:#e5e5e5;
}
#speakers #s-more{
	position:absolute;
	bottom:0;
	left:50%;
	width:136px;
	height:44px;
	margin-left:-68px;
	border:1px solid #ccc;
	border-radius:4px;
}
#speakers #s-more a{
	display:block;
	width:136px;
	height:44px;
	font-family:"Arial";
	text-align:center;
	line-height:47px;
	color:#fff;
}
#speakers .s-btn ul li{
	position:absolute;
	width:64px;
	height:64px;
	border-radius:50%;
}
#speakers .s-btn ul li.s-b-left{
	top:155px;
	left:-103px;
	background:#000 url("../img/speaker/left.png") no-repeat center center;
	background:rgba(255,255,255,0.1) url("../img/speaker/left.png") no-repeat center center;
}
#speakers .s-btn ul li.s-b-right{
	top:155px;
	right:-103px;
	background:url("../img/speaker/left.png") no-repeat center center;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
}
#knowledge{
	width:100%;
	height:1930px;
}
#knowledge #k-header{
	width:270px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#knowledge #k-header p.k-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
	color:#000;
}
#knowledge #k-header p.k-pic{
	display:block;
	height:12px;
	margin:20px 20px;
	background:url("../img/knowledge/knowledge.png") no-repeat;
}
#knowledge #k-content{
	width:1200px;
	height:1547px;
	margin:81px auto;
}
#knowledge #k-content ul li{
	width:100%;
	height:261px;
	margin-top:60px;
}
#knowledge #k-content .k-c-txt{
	float:left;
	width:873px;
	height:100%;
	background-color:#f5f6f7;
}
#knowledge #k-content .k-c-txt h3{
	margin:48px 51px 31px ;
	font-size:24px;
}
#knowledge #k-content .k-c-txt p{
	margin:0 48px;
	color:#656566;
}
#knowledge #k-content .k-c-more{
	width:98px;
	height:36px;
	margin:30px 48px;
	border-radius:5px;
	border:1px solid #ccc;
}
#knowledge #k-content .k-c-more a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	line-height:38px;
}
#knowledge #k-content .k-c-lecture{
	float:right;
	width:301px;
	height:100%;
}
#knowledge #k-content .k-c-lecture1{
	background-image:url("../img/knowledge/html.jpg");
}
#knowledge #k-content .k-c-lecture2{
	background-image:url("../img/knowledge/js.jpg");
}
#knowledge #k-content .k-c-lecture3{
	background-image:url("../img/knowledge/h5.jpg");
}
#knowledge #k-content .k-c-lecture4{
	background-image:url("../img/knowledge/syn.jpg");
}
#knowledge #k-content .k-c-lecture5{
	background-image:url("../img/knowledge/cooperate.jpg");
}
/*互联网前端的基石*/
#transition{
	width:100%;
	height:599px;
	background:url(../img/transition/bg.jpg) no-repeat center top;
	border-top:1px solid #fff;
}
#transition .t-txt{
	width:1040px;
	height:142px;
	margin:229px auto;
}
/*VIP*/
#vip{
	width:100%;
	height:1080px;
	background-color:#f5f6f7;
}
#vip #v-header{
	width:250px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#vip #v-header p.v-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
	color:#000;
}
#vip #v-header p.v-pic{
	display:block;
	height:12px;
	margin:20px 44px;
	background:url("../img/vip/VIP.png") no-repeat;
}
#vip .v-lecture{
	width:1200px;
	height:700px;
	margin:80px auto;
	background-color:#000;
}
#vip .v-lecture ul li{
	float:left;
	width:300px;
	height:700px;
}
#vip .v-lecture ul li a{
	float:left;
	display:block;
	width:150px;
	height:175px;
}
#vip .v-lecture ul li a img{
	display:block;
	width:100%;
	height:100%;
	opacity:0.5;
	transition:.5s;
}
#vip .v-lecture ul li a img:hover{
	opacity:1;
	
}
#vip .v-lecture ul li a.big{
	width:300px;
	height:350px;
}
/*学员作品标题*/
#works{
	overflow:hidden;
	width:100%;
	height:1230px;
}
#works #w-header{
	width:250px;
	height:44px;
	margin:0 47%;
	padding-top:120px;
}
#works #w-header p.w-text{
	font-size:30px;
	letter-spacing:5px;
	font-weight:600;
	color:#000;
}
#works #w-header p.w-pic{
	display:block;
	height:12px;
	margin:20px 18px;
	background:url("../img/vip/VIP.png") no-repeat;
}
/*学员作品导航*/
#works .w-nav{
	width:870px;
	height:50px;
	margin:70px auto;
}
#works .w-nav ul{
	overflow:hidden;
	width:120%;
}
#works .w-nav ul li{
	float:left;
	width:159px;
	height:50px;
	margin-right:76px;
	border-radius:5px;
	border:1px solid #ccc;
}
#works .w-nav ul li a{
	display:block;
	width:160px;
	height:50px;
	line-height:50px;
	text-align:center;
}
#works .w-nav ul li a p:hover{
	background-color:#09cbd7;
	color:#fff;
}
#works .w-nav ul li a p{
	color:#000;
	font-size:16px;
}
#works .w-nav ul li a p.w-first{
	background-color:#09cbd7;
	color:#fff;
}
/*学员作品*/
#works .w-box{
	position:relative;
	width:1920px;
	height:760px;
}
#works .w-box ul li{
	float:left;
	width:480px;
	height:380px;
	background:red;
}
#works .w-box ul li a{
	position:relative;
	display:block;
	float:left;
	width:480px;
	height:380px;
}
#works .w-box ul > li a img{
	display:block;
}
#works .w-box ul > li a .hide{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	font-size:30px;
	line-height:380px;
	text-align:center;
	color:#fff;
	opacity:0;
	filter:alpha(opacity=0);
	transition:.3s;
}
#works .w-box ul > li a:hover .hide{
	opacity:1;
	filter:alpha(opacity=1);
}
/*底部*/
#footer{
	width:100%;
	height:196px;
	background-color:#1a1a1a;
}
#footer .f-main{
	width:1200px;
	height:60px;
	margin:0 auto;
	padding-top:70px;
}
#footer p.friend-link a{
	color:#999;
	margin-right:15px;
}
#footer p.copy{
	margin-top:25px;
	color:#999;
}